body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.listTasks {
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.task-item label {
  flex-grow: 1;
  cursor: pointer;
}

/* Styling done tasks */
.task-done {
  text-decoration: line-through;
  color: red;
}

.delete-btn {
  background: none;
  border: none;
  color: #cc0000;
  cursor: pointer;
  font-size: 18px;
}
